@import "../general/general";

.main {
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .left_box {
      width: 85%;

      .content {
        background-color: #dedede;
        height: 150vh;
      }
    }



    .right_box {
      width: 15%;
      height: 100vh;
      background-color: #003873;
      position: fixed;
      right: 0;
      overflow-y: scroll;
      top: 0;
      bottom: 0;
      direction: rtl;



      .logo {
        width: 15%;
        background-color: #002f60;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 1000;

        .fa-chevron-double-right {
          font-size: 1.5rem;
          color: #8DECFF;
          margin-right: 20px;
          cursor: pointer;
        }

        .fa-chevron-double-left {
          font-size: 1.2rem;
          color: #8DECFF;
          margin-right: 0px;
          cursor: pointer;
        }

        .img_of_logo {
          height: 55px;
        }

        .name_of_page {
          color: $white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


          h1 {
            font-size: 1.2rem;
            margin-bottom: 0;
          }

          p {
            margin-bottom: 0;
          }



        }

      }

      .side_bar_menu {
        color: $white;
        direction: rtl;
        text-align: right;


        ul {
          list-style-type: none;

          padding-inline-start: 0px;

          p {
            text-align: center;
            font-family: $bf;
            margin-top: 20px;
            color: #8DECFF;
            margin-bottom: 0;
          }

          .li_menu {
            font-family: $tf;

            .link_s_m {
              color: $white;
              padding-inline-start: 20px;
              margin-top: 10px;
              display: block;

              .text_menu {
                margin-right: 5px;
              }
            }

            .btn_Style {
              border: none;
              width: 100%;
              margin: 10px 0 0;
              padding: 0 20px 0 0;
              text-align: right;

              &:focus{
                box-shadow: none;
              }
            
              .fa-chevron-left {
                position: absolute;
                left: 20px;
              }
            }

            ul {
              padding-inline-start: 40px;

              li {
                list-style-type: disc;
                margin-top: 10px;

                .link_style {
                  color: $white;
                  font-size: .9rem;
                }
              }
            }



          }

        }
      }
    }

  }

  .right_box {
    width: 15%;
    height: 100vh;
    background-color: #003873;
    position: fixed;
    right: 0;

    .logo {
      width: 100%;
      background-color: #002f60;
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .img_of_logo {
        height: 55px;
      }

      .name_of_page {
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1 {
          font-size: 1.2rem;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }

      }

    }

    .side_bar_menu {
      color: $white;
      direction: rtl;
      text-align: right;
      margin-top: 80px;



      ul {
        list-style-type: none;

        .li_menu {
          .under_menu {

            display: none;
          }

          .under_menu_o {
            max-height: max-content;
          }

        }

      }
    }
  }
}


@import "responsive";