@import "../general/general";

.left_box {

    width: 85%;

    .nav_bar {

        width: 85%;
        height: 60px;
        @extend %gradient;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        ul {

            width: 232.43px;
            margin: 0px 20px 0px 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &:first-child {

                .nav_list {

                    .n_section {

                        color: #00236B;

                    }
                }

            }

            &:last-child {

                .nav_list {

                    .n_section {

                        color: #8DECFF;
                    }
                }

                .drop_down {

                    left: unset;
                    right: 0px;

                }


            }

            li {

                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .n_section {

                    font-size: 1.5rem;
                    cursor: pointer;

                }

                .envelope_show:nth-child(2) {

                    display: none;

                }

                .user_icon {

                    width: 50px;
                    height: 50px;
                    border-radius: 1000px;
                    background-color: white;
                    text-align: center;
                    line-height: 50px;
                    font-size: 1.5rem;


                }

                .drop-down {

                    display: none;
                    width: 100%;
                    position: absolute;

                    .drop_down {

                        width: max-content;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        border: 1px solid gray;
                        border-radius: 10px;
                        top: 40px;
                        padding: 0px 10px;

                        .drop_down_section {

                            width: 100%;
                            text-align: center;
                            direction: rtl;
                            padding: 20px;
                            border-bottom: 1px solid rgba(128, 128, 128, 0.596);

                            &:last-child {

                                border: none;

                            }


                        }


                        form {

                            display: flex;
                            flex-wrap: wrap;

                            button {

                                background-color: transparent;
                                color: #797979;
                                border: none;

                            }

                            .drop_down_section {
                            
                                padding: 10px 20px;
                                border: none;

                            }

                            .input_search {

                                width: 200px;
                                text-align: right;
                                background-color: transparent;
                                color: $black;
                                border: none;

                                &:focus {

                                    outline: none;

                                }

                            }

                        }


                    }
                }
            }
        }

    }
}

.OC{
    display: block !important;
}

@media only screen and (max-width: 620px) {

    .left_box .nav_bar ul {

        width: 200px;

    }

}