<!DOCTYPE html>
<html lang="en">

<head>
    <!--    meta tags   -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    Title of page   -->
    <title>پرفایل</title>

    <!--    css link    -->
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general.css">
    <link rel="stylesheet" href="../../assets/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="../../assets/css/dashboard/nav_bar.css">
    <link rel="stylesheet" href="../../assets/css/profile/profile.css">

</head>

<body>

    <section class="main">
        <div class="dashboard">
            <div class="left_box">
                <nav class="nav_bar">

                    <ul>

                        <li class="nav_list">

                            <div class="n_section user_icon">M</div>

                            <div class="drop-down OND">

                                <span class="drop_down OND">

                                    <a class="drop_down_section OND" href="">پروفایل</a>
                                    <a class="drop_down_section OND" href="">وظایف</a>
                                    <a class="drop_down_section OND" href="">فعالیت ها</a>
                                    <a class="drop_down_section OND" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-envelope n_section envelope_show"></i>
                            <i class="fal fa-envelope-open n_section envelope_show"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <span class="triangle"></span>
                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-bell n_section"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>

                    </ul>

                    <ul>

                        <li class="nav_list">

                            <i class="fal fa-bell n_section"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-envelope n_section"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-search  n_section"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <form action="">

                                        <button type="button"><i class="fal fa-search"></i></button>
                                        <input type="text" class="drop_down_section input_search" placeholder="جستجو">

                                    </form>

                                </span>
                            </div>

                        </li>

                    </ul>
                </nav>
                <div class="content_box">


                        <div class="sign_up">
                
                            <div class="photo">
                
                                <div class="error_box">
                                    <div class="error">
                                        <i class="fal fa-exclamation-circle"></i>
                                        <p class="text_error">دلام</p>
                                        <i class="fal fa-times"></i>
                                    </div>
                                </div>
                
                                <div class="imageProfile"
                                    style="background-image: url(../../assets/img/LogoMakerCa-1614592793378.png);">
                                </div>
                
                                <div class="container">
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                            <label for="imageUpload">
                
                                                <i class="fas fa-pencil-alt"></i>
                
                                            </label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview"
                                                style="background-image: url(../../assets/img/LogoMakerCa-1614592793378.png);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p>:نام و نام خانوادگی</p>
                                    <p class="name">محمد سعیدی خادم</p>
                                </div>
                                <div>
                                    <p>:ایمیل</p>
                                    <p class="email">test@test.com</p>
                                </div>
                                <div>
                                    <p>:سمت</p>
                                    <p class="side">کاربر</p>
                                </div>
                                <button class="change-button btn btn-primary" type="submit">تغییر رمز عبور</button>
                                <button class="change-button btn btn-primary" type="submit">ویرایش اطلاعات</button>
                
                            </div>
                
                        </div>
                        <div class="forms-boxs">
                            <form class="personalInfo">
                
                                <div class="input_page">
                
                                    <div class="input-group input_box">
                
                                        <label for="firstAndLastName">
                                            نام و نام خانوادگی
                                        </label>
                                        <input type="text" id="firstAndLastName" class="form-control">
                
                                    </div>
                                    <div class="input-group input_box">
                
                                        <label for="personalId">
                                            کد ملی
                                        </label>
                                        <input type="text" id="personalId" class="form-control">
                
                                    </div>
                                    <div class="input-group input_box">
                
                                        <label for="phoneNumber">
                                            شماره تلفن همراه
                                        </label>
                                        <input type="text" id="phoneNumber" class="form-control">
                
                                    </div>
                                    <div class="input-group input_box">
                
                                        <label for="personalEmail">
                                            پست الکترونیک
                                        </label>
                                        <input type="text" id="personalEmail" class="form-control">
                
                                    </div>
                                    <div class="input-group input_box">
                
                                        <label for="birathdayDate">
                                            تاریخ تولد
                                        </label>
                                        <div>
                                            <input type="text" id="birathdayDate" class="form-control">
                                            <p>/</p>
                                            <input type="text" class="form-control">
                                            <p>/</p>
                                            <input type="text" class="form-control">
                
                                            <p>اختیاری</p>
                
                
                                        </div>
                
                                    </div>
                                    <span>
                
                                        <button type="submit" class="input-group-text">ثبت</button>
                
                                    </span>
                                </div>
                
                            </form>
                            <form class="changePass">
                
                                <div class="error_box">
                                    <div class="error">
                                        <i class="fal fa-exclamation-circle"></i>
                                        <p class="text_error">دلام</p>
                                        <i class="fal fa-times"></i>
                                    </div>
                                </div>
                
                                <label for="password">کلمه عبور قدیم</label>
                                <div class="input-group mb-2">
                                    <input type="password" class="form-control e_input" id="oldPassword">
                                    <div class="input-group-prepend">
                                        <button type="button" class="input-group-text eye_show" id="o_eye_show">
                                            <i class="far fa-eye-slash o_eye_show"></i>
                                            <i class="fal fa-eye o_eye_show"></i>
                                        </button>
                                    </div>
                                </div>
                                <label for="password">کلمه عبور جدید</label>
                                <div class="input-group mb-2">
                                    <input type="password" class="form-control e_input" id="newPassword">
                                    <div class="input-group-prepend">
                                        <button type="button" class="input-group-text eye_show" id="n_eye_show">
                                            <i class="far fa-eye-slash n_eye_show"></i>
                                            <i class="fal fa-eye n_eye_show"></i>
                                        </button>
                                    </div>
                                </div>
                                <label for="password">تکرار کلمه عبور</label>
                                <div class="input-group mb-2">
                                    <input type="password" class="form-control e_input" id="repPassword">
                                    <div class="input-group-prepend">
                                        <button type="button" class="input-group-text eye_show" id="r_eye_show">
                                            <i class="far fa-eye-slash r_eye_show"></i>
                                            <i class="fal fa-eye r_eye_show"></i>
                                        </button>
                                    </div>
                                </div>
                                <span>
                                    <button type="submit" class="btn">ثبت</button>
                                </span>
                            </form>
                        </div>
                

                
                </div>
            </div>
            <div class="right_box">
                <aside class="menu">
                    <div class="logo">
                        <img src="../../assets/img/LogoMakerCa-1614592793378.png" alt="پوملو" title="پوملو"
                            class="img_of_logo">
                        <div class="name_of_page">
                            <h1>POMELO</h1>
                            <p>pannel admin</p>
                        </div>
                        <i class="fad fa-chevron-double-right open_close"></i>


                    </div>
                    <div class="side_bar_menu">
                        <ul>
                            <p>آنالیز</p>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-home-lg-alt icon_menu"></i>
                                    <span class="text_menu">
                                        داشبورد
                                    </span>
                                </a>
                            </li>
                            <p>تولید محتوا</p>
                            <li class="li_menu sub_menu_close">
                                <button type="button" class="link_s_m btn submenu_btn ">
                                    <i class="fad fa-cart-plus icon_menu"></i>
                                    <span class="text_menu">
                                        محصولات
                                    </span>
                                    <i class="fal fa-chevron-left submenu_icon"></i>
                                </button>
                                <ul class="under_menu">
                                    <li>
                                        <a href="" class="link_style">
                                            دسته بندی محصولات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            لیست محصولات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            افزودن محصول
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            کد تخفیف
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="li_menu sub_menu_close">
                                <button type="button" class="link_s_m btn submenu_btn">
                                    <i class="fad fa-newspaper icon_menu"></i>
                                    <span class="text_menu">
                                        مقالات
                                    </span>
                                    <i class="fal fa-chevron-left submenu_icon"></i>
                                </button>
                                <ul class="under_menu">
                                    <li>
                                        <a href="" class="link_style">
                                            دسته بندی مقالات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            لیست مقالات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            افزودن مقاله
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <p>مدیریت</p>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <span class="icon_menu">
                                        <i class="fad fa-user-headset"></i>
                                    </span>
                                    <span class="text_menu">
                                        مدیریت اپراتور ها
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-user-friends icon_menu"></i>
                                    <span class="text_menu">
                                        مدیریت کاربران
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-comments-alt icon_menu"></i>
                                    <span class="text_menu">
                                        مدیریت پیام ها
                                    </span>

                                </a>
                            </li>
                            <p>صفحات</p>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-pager icon_menu"></i>
                                    <span class="text_menu">
                                        صفحه اصلی
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fal fa-newspaper icon_menu"></i>
                                    <span class="text_menu">
                                        درباره ما
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-phone-volume icon_menu"></i>
                                    <span class="text_menu">
                                        تماس با ما
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-file-alt icon_menu"></i>
                                    <span class="text_menu">
                                        قوانین و مقررات </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-seedling icon_menu"></i>
                                    <span class="text_menu">
                                        اجزای مشترک
                                    </span>

                                </a>
                            </li>
                            <p>سایر</p>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-exchange-alt icon_menu"></i>
                                    <span class="text_menu">
                                        آخرین تغییرات
                                    </span>
                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <span class="icon_menu">
                                        <i class="fad fa-cog"></i>
                                    </span>
                                    <span class="text_menu">
                                        تنظیمات
                                    </span>
                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <span class="icon_menu">
                                        <i class="fad fa-question-circle"></i>
                                    </span>
                                    <span class="text_menu">
                                        راهنمایی
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <script src="../../assets/js/general/jQuery.js"></script>
    <script src="../../assets/js/general/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/dashboard/dashboard.js"></script>
    <script src="../../assets/js/profile/profile.js"></script>


</body>

</html>