<!DOCTYPE html>
<html lang="en">

<head>
    <!--    meta tags   -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    Title of page   -->
    <title>پرفایل</title>

    <!--    css link    -->
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general.css">
    <link rel="stylesheet" href="../../assets/css/profile/profile.css">
</head>

<body>

    <div class="sign_up">

        <div class="photo">

            <div class="error_box">
                <div class="error">
                    <i class="fal fa-exclamation-circle"></i>
                    <p class="text_error">دلام</p>
                    <i class="fal fa-times"></i>
                </div>
            </div>
            <div class="container">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload">

                            <i class="fas fa-pencil-alt"></i>

                        </label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview"
                            style="background-image: url(../../assets/img/LogoMakerCa-1614592793378.png);">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <!--    js link     -->
    <script src="../../assets/js/general/jQuery.js"></script>
    <script src="../../assets/js/general/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/profile/profile.js"></script>

</body>

</html>