// color
$white: white;
$black: #171717;
$smal_text: #4b4b4b;
$d_blue: #006387;

$gradient: linear-gradient(270deg, rgba(0, 35, 107, 1) 0%, rgb(0, 93, 130) 47%, rgb(165, 223, 234) 73%, rgba(141, 236, 255, 1) 100%);
$bg_gradient: rgb(0, 35, 107);

// fonts
$nf: normal-font;
$bf: bold-font;
$lf: light-font;
$mf: mediume-font;
$tf: thin-font;

//shadow
$shadow: 0px 0px 6px -3px #00000073;

//errorss
$warning_color:#B95000;
$warning_bg:#FEF5EB;
$warning_border:#f1bf98;

$danger_color:#b90000;
$danger_bg:#feebeb;
$danger_border:#f19898;

$success_color:#0fb900;
$success_bg:#ebfeec;
$success_border:#98f19d;


//gradient css
%gradient {
  background: $bg_gradient;
  background: $gradient;
}


//btn 

$btn_green : #00A651;
$btn_red : #da3535;
$btn_blue:#0072BC;