<!DOCTYPE html>
<html lang="en">

<head>
    <!--    meta tags   -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    Title of page   -->
    <title>داشبورد</title>

    <!--    css link    -->
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general.css">
    <link rel="stylesheet" href="../../assets/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="../../assets/css/dashboard/nav_bar.css">

</head>

<body>

    <section class="main">
        <div class="dashboard">
            <div class="left_box">
                <nav class="nav_bar">

                    <ul>

                        <li class="nav_list">

                            <div class="n_section user_icon">M</div>

                            <div class="drop-down">
                                
                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-envelope n_section envelope_show"></i>
                            <i class="fal fa-envelope-open n_section envelope_show"></i>

                            <div class="drop-down">
                                
                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-bell n_section"></i>

                            <div class="drop-down">
                                
                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>

                    </ul>

                    <ul>

                        <li class="nav_list">

                            <i class="fal fa-bell n_section"></i>

                            <div class="drop-down">
                                
                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-envelope n_section"></i>

                            <div class="drop-down">
                                
                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-search  n_section"></i>

                            <div class="drop-down">
                                
                                <span class="drop_down">

                                    <input type="text" class="drop_down_section input_search" placeholder="Search">

                                </span>
                            </div>

                        </li>

                    </ul>
                </nav>
                <div class="content"></div>
            </div>
            <div class="right_box">
                <aside class="menu">
                    <div class="logo">

                    </div>
                </aside>
            </div>
        </div>
    </section>


    <script src="../../assets/js/general/jQuery.js"></script>
    <script src="../../assets/js/general/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/dashboard/dashboard.js"></script>


</body>

</html>