<!DOCTYPE html>
<html lang="en">

<head>
    <!--    meta tags   -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    Title of page   -->
    <title>داشبورد</title>

    <!--    css link    -->
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general.css">
    <link rel="stylesheet" href="../../assets/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="../../assets/css/dashboard/nav_bar.css">

</head>

<body>
    
    <section class="main">
        <div class="dashboard">
            <div class="left_box">
                <nav class="nav_bar">
                    <ul id="leftBox">

                        <li class="listIcon">

                            <div class="userIcon" style="background-image: url(../../assets/img/saoUser.webp);"></div>
                            <div class="dropDown leftBox" id="userIcon">

                                <span class="dropDown_shape"></span>
                                <ul class="dropDown_box">
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                </ul>

                            </div>

                        </li>
                        <li class="listIcon">

                            <i class="fal fa-envelope nav_bar_icon"></i>
                            <i class="fal fa-envelope-open nav_bar_icon"></i>
                            <div class="dropDown leftBox">

                                <span class="dropDown_shape"></span>
                                <ul class="dropDown_box">
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                </ul>

                            </div>

                        </li>
                        <li class="listIcon">

                            <i class="fal fa-bell"></i>
                            <div class="dropDown leftBox">

                                <span class="dropDown_shape"></span>
                                <ul class="dropDown_box">
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                </ul>

                            </div>

                        </li>
                    </ul>
                    <ul>
                        <li class="listIcon">

                            <i class="fal fa-envelope"></i>
                            <div class="dropDown rightBox">

                                <span class="dropDown_shape"></span>
                                <ul class="dropDown_box">
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                </ul>

                            </div>

                        </li>
                        <li class="listIcon">

                            <i class="fal fa-envelope"></i>
                            <div class="dropDown rightBox">

                                <span class="dropDown_shape"></span>
                                <ul class="dropDown_box">
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                </ul>

                            </div>

                        </li>
                        <li class="listIcon">

                            <i class="fal fa-search"></i>
                            <div class="dropDown rightBox">

                                <span class="dropDown_shape"></span>
                                <ul class="dropDown_box">
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                    <li class="dropDown_box_items"> بازرگانی شرکت فلان مدیرت</li>
                                </ul>

                            </div>

                        </li>

                    </ul>

                </nav>
                <div class="content"></div>
            </div>
            <div class="right_box">
                <aside class="menu">
                    <div class="logo">
                        <img src="../../assets/img/LogoMakerCa-1614592793378.png" alt="پوملو" title="پوملو" class="img_of_logo">
                        <div class="name_of_page">
                            <h1>POMELO</h1>
                            <p>pannel admin</p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <script src="../../assets/js/general/jQuery.js"></script>
    <script src="../../assets/js/general/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/dashboard/dashboard.js"></script>


</body>

</html>