@import "../general/general";

%box_style_content {
    width: 90%;
    box-shadow: 0 0 7px 1px #002e6081;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin-top: 50px;
}


.content_box {
    .content {
        .search_product {
            @extend %box_style_content;

            p {
                font-family: $bf;
                text-align: right;
                width: 100%;
                font-size: 1.2rem;
            }

            hr {
                width: 100%;
                margin-top: -5px;

            }

            .search_form_box {
                width: 100%;
                text-align: right;

                form {
                    display: flex;
                    flex-wrap: wrap;

                    .form-group {
                        width: 49%;
                        margin-left: 2%;
                    }

                    .btn_box {
                        width: 100%;

                        .search_btn {
                            @include btn_style($btn_green);
                        }

                        .reset_btn {
                            @include btn_style($btn_red);
                        }
                    }

                }
            }
        }

        .table_list {
            @extend %box_style_content;

            .btn_edit {
                width: 100%;
                margin-bottom: 50px;
                margin-top: 20px;

                .del_btn {
                    @include btn_style($btn_red);
                }

                .release_btn {
                    @include btn_style($btn_blue);
                }

                .new_btn {
                    @include btn_style($btn_green);
                }
            }

            .table {
                direction: rtl;
          

                tr{
            
                    td{
                   
                        .img_product{
                            width: 40px;
                            height: 40px;
                            border-radius: 3px;
                        }

                        .release_btn{
                            @include  btn_table($btn_blue);
                           
                        }

                        .del_btn{
                            @include  btn_table($btn_red);
                        }

                        .edit_btn{
                            @include  btn_table($btn_green);
                        }
                    }
                }
            }
        }
    }
}