@import '../partials/mixin', '../partials/variable', '../partials/errors';
@import "../partials/pagination";
@import "../partials/table";
@import "../partials/style";
@import "../partials/check-box";


.content_box {
    margin-top: 60px;
    direction: rtl;
    margin-bottom: 70px;

    .addres_page{
        padding-top: 30px;
        width: 90%;
        text-align: right;
        margin: auto;
      
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        .search_product {
            @extend %box_style_content;

            p {
                @extend %headingg_of_box;
            }

            hr {
               @extend %hr_style_under_heading;
            }

            .search_form_box {
                width: 100%;
                text-align: right;

                form {
                    display: flex;
                    flex-wrap: wrap;

                    .form-group {
                        width: 49%;
                        margin-left: 2%;
                    }

                    .btn_box {
                        width: 100%;
                        margin: 20px 0;

                        .search_btn {
                            @include btn_style($btn_green);
                        }

                        .reset_btn {
                            @include btn_style($btn_red);
                        }
                    }

                }
            }
        }

        
    }
}

