@import '../partials/mixin', '../partials/variable', '../partials/errors';

@font-face {
  font-family: $nf;
  src: url("../../font/Vazir.eot"),
    url("../../font/Vazir.ttf"),
    url("../../font/Vazir.woff"),
    url("../../font/Vazir.woff2");
}

@font-face {
  font-family: $mf;
  src: url("../../font/Vazir-Medium.eot"),
    url("../../font/Vazir-Medium.ttf"),
    url("../../font/Vazir-Medium.woff"),
    url("../../font/Vazir-Medium.woff2");
}

@font-face {
  font-family: $bf;
  src: url("../../font/Vazir-Bold.eot"),
    url("../../font/Vazir-Bold.ttf"),
    url("../../font/Vazir-Bold.woff"),
    url("../../font/Vazir-Bold.woff2");
}

@font-face {
  font-family: $lf;
  src: url("../../font/Vazir-Light.eot"),
    url("../../font/Vazir-Light.ttf"),
    url("../../font/Vazir-Light.woff"),
    url("../../font/Vazir-Light.woff2");
}

@font-face {
  font-family: $tf;
  src: url("../../font/Vazir-Thin.eot"),
    url("../../font/Vazir-Thin.ttf"),
    url("../../font/Vazir-Thin.woff"),
    url("../../font/Vazir-Thin.woff2");
}

//main general css

body {
  overflow-x: hidden;
  font-family: $nf;
}


a:hover {
  color: #0056b3;
  text-decoration: none;
}

button:focus {
  outline: none;
}

input {
  border-radius: 5px !important;
  border: 1px solid #e5e5e5 !important;
}

textarea {
  border-radius: 10px !important;
  border: 1px solid #e5e5e5 !important;
  line-height: 30px !important;
  height: 150px !important;
}

select {
  border-radius: 10px !important;
  border: 1px solid #e5e5e5 !important;
  text-align: center;
}

.form-control:focus {
  color: #495057;
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0px 0px 5px 2px #00000015 !important;
}

.form-control {
  color: #535353 !important;
}

label {
  color: #626262 !important;
}


//scrollbar

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 94, 129);
}

html {
  scroll-behavior: smooth;
}