
@media only screen and (max-width: 1100px) {
  .main .login_page  .l_right_b .r_gif{
    width: 400px;
  }
  .main .login_page{
    width: 800px;
    padding: 50px 0px;
  }
  .main .login_page .l_left_b form{
    width: 75%;
  }

}

@media only screen and (max-width: 870px) {
  .main .login_page{
    width: 450px ;
    padding: 30px 0;
    margin: 30px 0 ;
  }
  .main .login_page .l_right_b{
    order: 0;
    width: 100% ;
    height: auto;
  }
  .main .login_page .l_left_b{
    order: 1;
    width: 100% ;
    height: auto;
  }

  .main{
    height: auto;
    font-size: .9rem;
  }
  .main .login_page .l_right_b .r_gif{
    margin-right: 0 ;
    padding-bottom: 20px;
    width: 300px;
  }

  .main .cpy_right{
    margin-top: 0px;
    margin-bottom: 30px;
  }


}

@media only screen and (max-width: 550px) {
  .main .login_page{
    width: 350px;
    padding: 15px 0;
    margin: 50px 0;
  }


  .main{
    font-size: .8rem;
  }
  .main .login_page .l_right_b .r_gif{
    width: 250px;
  }

  .main .login_page .l_left_b form .form-group input{
    height: 30px;
  }
  .main .login_page .l_left_b form .btn{
    font-size: .8rem;
    height: 30px;
  }
  .main .login_page .l_left_b form .form-group {
    margin-bottom: 10px;
  }

  .main .login_page .l_left_b form .form-check .cb_label{
    margin: 20px 0;
  }

  .main .cpy_right{
    font-size: .8rem;
    width: 80%;
    text-align: center;
  }

}

@media only screen and (max-width: 400px) {
  .main .login_page{
    width: 300px;
    padding: 15px 0;
    margin: 0px 0 40px;
  }


  .main{
    font-size: .8rem;

  }
  .main .login_page .l_right_b .r_gif{
    width: 200px;
  }

  .main .login_page .l_left_b form .form-group input{
    height: 30px;
  }

  .main .login_page .l_left_b form .btn{
    font-size: .8rem;
    height: 30px;
  }


}


