.main {
  background: #00236b;
  background: linear-gradient(270deg, #00236b 0%, #005d82 47%, #a5dfea 73%, #8decff 100%);
}

.error_box {
  display: none;
}

.error_box .error {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  border-radius: 5px;
  margin-bottom: 20px;
  align-items: center;
  height: 40px;
  position: relative;
}

.error_box .error .text_error {
  margin: 0;
  padding-right: 30px;
}

.error_box .error .fa-exclamation-circle {
  position: absolute;
  right: 10px;
}

.error_box .error .fa-times {
  position: absolute;
  left: 10px;
  cursor: pointer;
}

.danger_error {
  background-color: #feebeb;
  border: 1px solid #f19898;
  color: #b90000;
}

.warning_error {
  background-color: #FEF5EB;
  border: 1px solid #f1bf98;
  color: #B95000;
}

.success_danger {
  background-color: #ebfeec;
  border: 1px solid #98f19d;
  color: #0fb900;
}

@media only screen and (max-width: 900px) {
  .error_box .error p, .error_box .error i {
    font-size: 0.8rem;
  }
}

@font-face {
  font-family: normal-font;
  src: url("../../font/Vazir.eot"), url("../../font/Vazir.ttf"), url("../../font/Vazir.woff"), url("../../font/Vazir.woff2");
}

@font-face {
  font-family: mediume-font;
  src: url("../../font/Vazir-Medium.eot"), url("../../font/Vazir-Medium.ttf"), url("../../font/Vazir-Medium.woff"), url("../../font/Vazir-Medium.woff2");
}

@font-face {
  font-family: bold-font;
  src: url("../../font/Vazir-Bold.eot"), url("../../font/Vazir-Bold.ttf"), url("../../font/Vazir-Bold.woff"), url("../../font/Vazir-Bold.woff2");
}

@font-face {
  font-family: light-font;
  src: url("../../font/Vazir-Light.eot"), url("../../font/Vazir-Light.ttf"), url("../../font/Vazir-Light.woff"), url("../../font/Vazir-Light.woff2");
}

@font-face {
  font-family: thin-font;
  src: url("../../font/Vazir-Thin.eot"), url("../../font/Vazir-Thin.ttf"), url("../../font/Vazir-Thin.woff"), url("../../font/Vazir-Thin.woff2");
}

body {
  overflow-x: hidden;
  font-family: normal-font;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

button:focus {
  outline: none;
}

input {
  border-radius: 5px !important;
  border: 1px solid #e5e5e5 !important;
}

textarea {
  border-radius: 10px !important;
  border: 1px solid #e5e5e5 !important;
  line-height: 30px !important;
  height: 150px !important;
}

select {
  border-radius: 10px !important;
  border: 1px solid #e5e5e5 !important;
  text-align: center;
}

.form-control:focus {
  color: #495057;
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0px 0px 5px 2px #00000015 !important;
}

.form-control {
  color: #535353 !important;
}

label {
  color: #626262 !important;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .recovery_page {
  width: 921.6px;
  height: 460.8px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.main .recovery_page .r_left_box {
  width: 50%;
  padding: 30px 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  position: relative;
}

.main .recovery_page .r_left_box .return_login {
  width: 70px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #006387;
  color: white;
  font-size: 0.8rem;
  padding: 10px;
  position: absolute;
  left: 35px;
  z-index: 10;
}

.main .recovery_page .r_left_box .return_login .return_login_text {
  margin: 0px 0px 0px 5px;
}

.main .recovery_page .r_left_box form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: 6%;
}

.main .recovery_page .r_left_box form label {
  text-align: right;
  direction: rtl;
}

.main .recovery_page .r_left_box form .e_input {
  background-color: #E6E6E6;
}

.main .recovery_page .r_left_box form .btn {
  width: 100%;
  border: none;
  background-color: #006387;
  margin-top: 30px;
}

.main .recovery_page .r_right_box {
  width: 50%;
  border-radius: 0 10px 10px 0;
}

.main .recovery_page .r_right_box .r_r_b_photo {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.main .cpy_right {
  direction: rtl;
  margin-top: 30px;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .main .recovery_page {
    width: 721.6px;
    height: 360.8px;
  }
}

@media only screen and (max-width: 900px) {
  .main .recovery_page {
    width: 600px;
    height: 360.8px;
  }
  .main .recovery_page .r_left_box form label {
    font-size: 0.8rem;
  }
  .main .recovery_page .r_left_box form .btn {
    font-size: 0.8rem;
  }
  .main .recovery_page .r_left_box .return_login {
    width: 50px;
    height: 35px;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 720px) {
  .main .recovery_page {
    flex-direction: column;
    width: 60%;
    height: unset;
  }
  .main .cpy_right {
    width: 90%;
    text-align: center;
  }
  .main .recovery_page .r_right_box {
    width: 100%;
    order: 1;
  }
  .main .recovery_page .r_right_box .r_r_b_photo {
    margin-left: 15%;
    width: 70%;
  }
  .main .recovery_page .r_left_box {
    width: 80%;
    margin-bottom: 100px;
    order: 2;
    margin-left: 10%;
    padding: 0;
  }
  .main .recovery_page .r_left_box form {
    width: 100%;
    right: 0px;
  }
  .main .recovery_page .r_left_box .return_login {
    width: 100%;
    font-size: 0.8rem;
    top: 135px;
    border-radius: 4px;
    left: 0px;
    height: unset;
    padding: 6px;
  }
  .main .recovery_page .r_left_box .return_login i {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .main .recovery_page {
    width: 90%;
  }
}
