@import '../general/general';

.main {

    width: 100%;
    height: 100vh;
    @extend %gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .recovery_page {

        width: 921.6px;
        height: 460.8px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;

        .r_left_box {

            width: 50%;
            padding: 30px 0 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-around;
            position: relative;


            .return_login{

                width: 70px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-color: #006387;
                color: white;
                font-size: 0.8rem;
                padding: 10px;
                position: absolute;
                left: 35px;
                z-index: 10;

                .return_login_text{

                    margin: 0px 0px 0px 5px;

                }

            }


            form {

                width: 80%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                position: relative;
                right: 6%;



                label {

                    text-align: right;
                    direction: rtl;

                }

                .e_input {

                    background-color: #E6E6E6;

                }

                .btn {

                    width: 100%;
                    border: none;
                    background-color: #006387;
                    margin-top: 30px;
                }

            }

        }

        .r_right_box {

            width: 50%;
            border-radius: 0 10px 10px 0;

            .r_r_b_photo {

                width: 100%;
                height: 100%;
                border-radius: 0 10px 10px 0;

            }

        }

    }
    .cpy_right{
        direction: rtl;;
        margin-top: 30px;
        color: $white;
      }

}

@media only screen and (max-width: 1100px){

    
    .main .recovery_page{

        width: 721.6px;
        height: 360.8px;

    }

}
@media only screen and (max-width: 900px){

    .main .recovery_page{

        width: 600px;
        height: 360.8px;

    }
    
    .main .recovery_page .r_left_box form label{
        
        font-size: 0.8rem;
        
    }
    .main .recovery_page .r_left_box form .btn{
        
        font-size: 0.8rem;
        
    }
    .main .recovery_page .r_left_box .return_login{
        
        width: 50px;
        height: 35px;
        font-size: 0.6rem;
        
        
    }
    
}
@media only screen and (max-width: 720px){
    
    .main .recovery_page{
        
        flex-direction: column;
        width: 60%;
        height: unset;
        
    }
    .main .cpy_right{

        width: 90%;
        text-align: center;

    }
    .main .recovery_page .r_right_box {
        width: 100%;
        order: 1;
    }
    .main .recovery_page .r_right_box .r_r_b_photo {
        margin-left: 15%;
        width: 70%;

    }
    .main .recovery_page .r_left_box {
        width: 80%;
        margin-bottom: 100px;
        order: 2;
        margin-left: 10%;
        padding: 0;
        form{

            width: 100%;
            right: 0px;

        }
    }
    .main .recovery_page .r_left_box .return_login {
        width: 100%;
        font-size: 0.8rem;
        top: 135px;
        border-radius: 4px;
        left: 0px;
        height: unset;
        padding: 6px;

        i{

            display: none;

        }

    }

}
@media only screen and (max-width: 720px){

    .main .recovery_page{

        width: 90%;

    }

}