<!DOCTYPE html>
<html lang="en">

<head>
    <!--    meta tags   -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    Title of page   -->
    <title>لیست محصولات</title>

    <!--    css link    -->
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general.css">
    <link rel="stylesheet" href="../../assets/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="../../assets/css/dashboard/nav_bar.css">
    <link rel="stylesheet" href="../../assets/css/product/products List.css">

</head>

<body>

    <section class="main">
        <div class="dashboard">
            <div class="left_box">
                <nav class="nav_bar">

                    <ul>

                        <li class="nav_list">

                            <div class="n_section user_icon">M</div>

                            <div class="drop-down OND">

                                <span class="drop_down OND">

                                    <a class="drop_down_section OND" href="">پروفایل</a>
                                    <a class="drop_down_section OND" href="">وظایف</a>
                                    <a class="drop_down_section OND" href="">فعالیت ها</a>
                                    <a class="drop_down_section OND" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-envelope n_section envelope_show"></i>
                            <i class="fal fa-envelope-open n_section envelope_show"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <span class="triangle"></span>
                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-bell n_section"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>

                    </ul>

                    <ul>

                        <li class="nav_list">

                            <i class="fal fa-bell n_section"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-envelope n_section"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <a class="drop_down_section" href="">پروفایل</a>
                                    <a class="drop_down_section" href="">وظایف</a>
                                    <a class="drop_down_section" href="">فعالیت ها</a>
                                    <a class="drop_down_section" href="">*</a>

                                </span>
                            </div>

                        </li>
                        <li class="nav_list">

                            <i class="fal fa-search  n_section"></i>

                            <div class="drop-down">

                                <span class="drop_down">

                                    <form action="">

                                        <button type="button"><i class="fal fa-search"></i></button>
                                        <input type="text" class="drop_down_section input_search" placeholder="جستجو">

                                    </form>

                                </span>
                            </div>

                        </li>

                    </ul>
                </nav>
                <div class="content_box">
                    <div class="addres_page">
                        <i class="fad fa-cart-plus"></i>
                        <span class="text_addres">
                            تولید محتوا / محصولات / لسیت محصولات
                        </span>
                    </div>
                    <div class="content">
                        <div class="search_product">
                            <p>جستجو</p>
                            <hr>
                            <div class="search_form_box">
                                <form>
                                    <div class="form-group">
                                        <label for="search">نام محصول</label>
                                        <input type="search" class="form-control" id="search">
                                    </div>
                                    <div class="form-group ml-0">
                                        <label for="product_gp">
                                            گروه محصول
                                        </label>
                                        <select class="form-control" id="product_gp">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sub_product_gp">زیرگروه محصول</label>
                                        <select class="form-control" id="sub_product_gp">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group ml-0">
                                        <label for="show">تعداد نمایش</label>
                                        <select class="form-control" id="show">
                                            <option>10</option>
                                            <option>20</option>
                                            <option>50</option>
                                            <option>100</option>
                                            <option>1000</option>
                                        </select>
                                    </div>
                                    <div class="form-group ml-0">
                                        <label for="show">فیلتر</label>
                                        <select class="form-control" id="show">
                                            <option>نمایش همه</option>
                                            <option>فاقد نظر</option>
                                            <option>دارای نظر تایید نشده</option>
                                            <option>گروه بندی شده </option>
                                            <option>فاقد گروه بندی</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div class="btn_box">
                                        <button type="submit" class="btn search_btn">جستجو</button>
                                        <button type="reset" class="btn reset_btn">ریست</button>
                                    </div>
                                  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_box">
                <aside class="menu">
                    <div class="logo">
                        <img src="../../assets/img/LogoMakerCa-1614592793378.png" alt="پوملو" title="پوملو"
                            class="img_of_logo">
                        <div class="name_of_page">
                            <h1>POMELO</h1>
                            <p>pannel admin</p>
                        </div>
                        <i class="fad fa-chevron-double-right open_close"></i>


                    </div>
                    <div class="side_bar_menu">
                        <ul>
                            <p>آنالیز</p>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-home-lg-alt icon_menu"></i>
                                    <span class="text_menu">
                                        داشبورد
                                    </span>
                                </a>
                            </li>
                            <p>تولید محتوا</p>
                            <li class="li_menu sub_menu_close">
                                <button type="button" class="link_s_m btn submenu_btn ">
                                    <i class="fad fa-cart-plus icon_menu"></i>
                                    <span class="text_menu">
                                        محصولات
                                    </span>
                                    <i class="fal fa-chevron-left submenu_icon"></i>
                                </button>
                                <ul class="under_menu">
                                    <li>
                                        <a href="" class="link_style">
                                            دسته بندی محصولات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            لیست محصولات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            افزودن محصول
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            کد تخفیف
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="li_menu sub_menu_close">
                                <button type="button" class="link_s_m btn submenu_btn">
                                    <i class="fad fa-newspaper icon_menu"></i>
                                    <span class="text_menu">
                                        مقالات
                                    </span>
                                    <i class="fal fa-chevron-left submenu_icon"></i>
                                </button>
                                <ul class="under_menu">
                                    <li>
                                        <a href="" class="link_style">
                                            دسته بندی مقالات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            لیست مقالات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="link_style">
                                            افزودن مقاله
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <p>مدیریت</p>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <span class="icon_menu">
                                        <i class="fad fa-user-headset"></i>
                                    </span>
                                    <span class="text_menu">
                                        مدیریت اپراتور ها
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-user-friends icon_menu"></i>
                                    <span class="text_menu">
                                        مدیریت کاربران
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-comments-alt icon_menu"></i>
                                    <span class="text_menu">
                                        مدیریت پیام ها
                                    </span>

                                </a>
                            </li>
                            <p>صفحات</p>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-pager icon_menu"></i>
                                    <span class="text_menu">
                                        صفحه اصلی
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fal fa-newspaper icon_menu"></i>
                                    <span class="text_menu">
                                        درباره ما
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-phone-volume icon_menu"></i>
                                    <span class="text_menu">
                                        تماس با ما
                                    </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-file-alt icon_menu"></i>
                                    <span class="text_menu">
                                        قوانین و مقررات </span>

                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-seedling icon_menu"></i>
                                    <span class="text_menu">
                                        اجزای مشترک
                                    </span>

                                </a>
                            </li>
                            <p>سایر</p>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <i class="fad fa-exchange-alt icon_menu"></i>
                                    <span class="text_menu">
                                        آخرین تغییرات
                                    </span>
                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <span class="icon_menu">
                                        <i class="fad fa-cog"></i>
                                    </span>
                                    <span class="text_menu">
                                        تنظیمات
                                    </span>
                                </a>
                            </li>
                            <li class="li_menu show_menu_close">
                                <a href="#" class="link_s_m">
                                    <span class="icon_menu">
                                        <i class="fad fa-question-circle"></i>
                                    </span>
                                    <span class="text_menu">
                                        راهنمایی
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <script src="../../assets/js/general/jQuery.js"></script>
    <script src="../../assets/js/general/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/dashboard/dashboard.js"></script>
    <script src="../../assets/js/product/products List.js"></script>


</body>

</html>