<!DOCTYPE html>
<html lang="en">
<head>
    <!--    meta tags   -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    Title of page   -->
    <title>کد تائید</title>

    <!--    css link    -->
    <link rel="stylesheet" href="../../assets/css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/general/fontawsome.css">
    <link rel="stylesheet" href="../../assets/css/general/general.css">
    <link rel="stylesheet" href="../../assets/css/login_recovery/recovery_email_verify.css">
</head>
<body>
    
    <section class="main">

        <div class="recovery_page">

            <div class="r_left_box" >
                
                <!--    return page    -->
                
                <a href="login.html" class="return_login">
                    <i class="far fa-angle-left"></i>
                    <p class="return_login_text">بازگشت</p>
                </a>
                
                <!--    timer    -->
                <div class="r_timer">
                    
                    <p class="min">2</p>
                    <p>:</p>
                    <p class="sec">00</p>
                    
                </div>
                <!--    error box    -->
                <div class="error_box">
                </div>

                <!--    recovery email input    -->
                <form action="recovery_email_verify.html">

                    <label for="email">کد تائیدیه را وارد کنید.</label>
                    <input type="text" id="email" class="e_input form-control">
                    <button type="submit" class="btn btn-primary">تائید</button>

                </form>
                <p class="e_resend">در صورتی که کد را دریافت نکرده اید، <button type="button" class="e_resend_btn">اینجا</button> کلیک کنید.</p>


            </div>
            <div class="r_right_box">

                <img src="../../assets/img/Forgot-password.gif" class="r_r_b_photo" alt="">

            </div>
            
        </div>

    </section>

    <!--    js link     -->
<script src="../../assets/js/general/jQuery.js"></script>
<script src="../../assets/js/general/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/login_recovery/recovery_email_verify.js"></script>


</body>
</html>