@import "../general/general";
@import "../partials/pagination";
@import "../partials/table";

%box_style_content {
    width: 90%;
    box-shadow: 0 0 7px 1px #002e6081;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin-top: 50px;
    padding: 20px 40px;
}


.content_box {
    .content {
       
        
    }
}

